<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
        <grant name="create" default="member">
            <title xml:lang="ko">Textyle 생성</title>
            <title xml:lang="en">Create a textyle</title>
			<title xml:lang="vi">Tạo Textyle mới</title>
	    	<title xml:lang="zh-CN">生成Textyle</title>
            <title xml:lang="jp">Textyle生成</title>
	    	<title xml:lang="zh-TW">建立 Textyle</title>
        </grant>
    </grants>
    <permissions>
		<permission action="dispTextylehubCreate" target="member" />
		<permission action="procTextylehubCreate" target="member" />
    </permissions>
    <actions>
        <action name="dispTextylehub" type="view" index="true" />
        <action name="dispTextylehubUpdated" type="view" />
        <action name="dispTextylehubCreate" type="view" />
        <action name="rss" standalone="true" type="view" />
        <action name="procTextylehubCreate" type="controller" />

        <action name="dispTextylehubAdminConfig" type="view" standalone="true" admin_index="true" />
        <action name="dispTextylehubAdminGrantInfo" type="view" standalone="true" />
        <action name="dispTextylehubAdminSkinInfo" type="view" standalone="true" />

        <action name="procTextylehubAdminCreate" type="controller" standalone="true" />
        <action name="procTextylehubAdminUpdate" type="controller" standalone="true" />
    </actions>
</module>
